html, body, pre, code, kbd, samp {
          font-family: "Press Start 2P";
      }

.flex-container {
          display: flex;

          /* Then we define the flow direction
             and if we allow the items to wrap
           * Remember this is the same as:
           * flex-direction: row;
           * flex-wrap: wrap;
           */
          flex-direction: row;

          /* Then we define how is distributed the remaining space */
          justify-content: space-around;
          background-color: red;
        }

.items {
            flex-grow: <number>; /* default 0 */
        }